html {
    overflow-x: hidden;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: rgb(255, 255, 255);
    line-height: 1.6;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #ffcc00;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffcc00;
    white-space: nowrap; 
    margin-right: 20px; 
}

.number i {
    margin-right: 3px;
}

.number a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #ffcc00;
    white-space: nowrap; 
    margin-right: 80px; 
}

/* Стили для навигации */
header nav {
    position: relative;
    flex: 1; 
    display: flex;
    justify-content: flex-end; 
    background-color: #ffcc00;
}

header nav::after{
    content: "";
    position: absolute;
    left: -40px;
    width: 40px; /* Ширина наклонной части */
    height: 100%;
    background-color: inherit;
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    z-index: 1;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s ease;
    white-space: nowrap; 
}

header nav ul li a:hover {
    color: #fffb00;
}

.hero {
    background-image: url("../images/divan4.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 150px 20px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.568);
    padding: 40px;
    border-radius: 10px;
    max-width: 90%; 
    box-sizing: border-box; 
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

.cta-button {
    width: 25%;
    background-color: #ffcc00;
    color: #000000;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ffe167;
}

.estimation {
    border-top: 0.5rem solid #ffcc00;
    bottom: -250px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    max-width: 900px; 
    background: rgb(0, 0, 0); 
    color: white; 
    padding: 20px; 
    z-index: 10;
    border-radius: 20px;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}

.estimation-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.estimation img {
    max-width: 100%; 
    max-height: 310px; 
    align-self: center; 
}

.estimation h2 {
    color: #ffcc00;
    font-size: 24px;
    margin: 10px 0; 
}

.estBttnContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
}

.estBttnContainer a {
    display: flex;
    flex: 1;
    line-height: 1;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 1.3em;
    background-color: #ffcc00;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.estBttnContainer a:hover {
    background-color: #ffe167;
}

/*  */
.company-block, .services, .benefits, .contacts, .work-section, .review-section, .connection-section {
    padding: 50px 40px;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.company-block.visible, .services.visible, .benefits.visible, .contacts.visible, .work-section.visible, .review-section.visible, .connection-section.visible {
    opacity: 1;
    transform: translateY(0);
}

/*  */
.benefits-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 260px;
}

.benefit-item {
    flex: 1 1 20%;
    margin: 10px;
    padding: 20px;
    background-color: #000000;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.benefit-item:hover {
    transform: translateY(-10px);
}

.benefit-item i  {
    font-size: 40px;
    color: #ffcc00;
    margin-bottom: 20px;
}

.benefits h2 {
    color: #000000;
}

.benefit-item h3, .benefit-item p {
    color: #ffffff;
}

.company-block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    padding: 20px;
    background-color: #000000;
    border-top: 10px solid #ffcc00;
  }
  
  .images-section {
    display: flex;
    gap: 10px;
    flex: 1;
    height: 550px;
    max-width: 800px;
    margin-left: 40px;
    padding: 10px;
  }
  
  .left-images {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
  }
  
  .photo1-container, .photo2-container, .photo3-container {
    position: relative;
    overflow: hidden;
    width: 100%; /* Ширина всех контейнеров одинаковая */
  }
  
  .photo1-container {
    height: 65%; /* Высота фото 1 */
    border-radius: 30px 30px 0 0;
  }
  
  .photo2-container {
    height: 35%; /* Высота фото 2 */
    border-radius: 30px 30px 0 0;
  }
  
  .photo3-container {
    flex: 1;
    height: 100%; /* Высота фото 3 равна высоте левой части (фото 1 + фото 2) */
    border-radius: 30px 30px 0 0;
  }
  
  .photo1, .photo2, .photo3 {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 28px;
    font-weight: 900;
    padding: 2px 20px;
    line-height: 1.3;
    color: #ffcc00;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .overlay-text span {
    display: flex;
    font-size: 36px;
    gap: 10px;
    line-height: 1;
    color: transparent;
    -webkit-text-stroke: 3px #ffcc00;
    align-items: start;
  }

  .sub {
    display: flex;
    line-height: 1;
    font-size: 28px;
    gap: 20px;
    color: #ffcc00;
  }

  .text-section {
    flex: 1;
    text-align: start;
    color: #ffffff;
  }

  .text-section h2 {
    font-size: 2.3rem;
  }

  .company-features {
    list-style-type: none;
    font-size: 21px;
    padding: 0;
    padding-bottom: 20px;
  }

  .company-features i {
    color: #ffcc00;
  }

  .text-section button {
    background-color: #ffcc00;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }

  .text-section button:hover {
    background-color: #ffe167;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 20px;
    box-sizing: border-box; 
}

.card {
    background-color: #000000;
    border-radius: 20px 20px 0 0;
    border-bottom: 5px solid #ffcc00;
    width: calc(100% - 40px); /* На мобильных занимает всю ширину с отступами */
    max-width: 300px; 
    text-align: start;
    box-sizing: border-box;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 250px;
    padding: 0;
    object-fit: cover;
}

.services h2 {
    color: #000000;
    font-size: 36px;
}

.card h3 {
    color: #ffcc00;
    font-size: 1.3em;
    padding-left: 10%;
    margin: 10px 0;
}

.card p {
    font-size: 1em;
    padding-left: 10%;
    margin: 10px 0;
}

.card button {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 0 0 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    text-align: center;
    width: 50%; 
}

.card button:hover {
    background-color: #ffe167;
}

.memo {
    background-image: url("../images/divan5.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 45vh;
    display: flex;
    overflow: hidden;
}

.memo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    background-color: #000000b7;
    box-sizing: border-box;
}

.memo-container::after {
    content: "";
    position: absolute;
    right: -139.7px;
    width: 140px;
    height: 100%;
    background-color: inherit;
    clip-path: polygon(100% 0, 0% 100%, 0 0);
    z-index: 1;
}

.memo-container .textSub {
    display: flex;
    padding: 20px 0 0 20px;
    line-height: 1;
    font-size: 20px;
    gap: 15px;
    color: #ffcc00;
}

.memo-container p {
    padding-left: 20px;
    font-size: 1em;
    margin-top: 10px;
}

.arg {
    display: flex;
    overflow: hidden;
    list-style-type: none;
    padding-left: 20px;
    padding-bottom: 20px;
}

.arg li {
    display: flex;
    gap: 12px;
}

.arg i {
    display: flex;
    color: #000000;
    font-size: 26px;
    width: 40px; 
    height: 40px;
    padding: 5px;
    background-color: #ffcc00;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.arg .text {
    flex: 1; 
    /* line-height: 1; */
}

.arg h4 {
    color: #ffcc00;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.arg p {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

/* Our Work */
.work-section {
    padding: 60px 0;
    text-align: center;
}

.container-text {
    display: flex;
    gap: 20px;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}

.container-text i {
    color: #ffcc00;
}

.container-text h2 {
    color: #333;
}

.work-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #000000;
    margin: 10px;
    border-radius: 30px 30px 0 0;
    border-bottom: 5px solid #ffcc00;
    max-height: 400px;
    overflow: hidden;
    justify-content: space-between;
}

.work-imageTop, .work-imageBottom {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.work-imageTop {
    margin-bottom: 2px;
}

.work-imageBottom {
    margin-top: 2px;
}

.work-imageTop img, .work-imageBottom img {
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.swiper-container {
    max-width: 1200px;
    width: 100%;
    margin:0 auto;
    position: relative;
    user-select: none; /* Запрет выделения текста при перетаскивании */
  }
  
  .swiper-wrapper {
    display: flex;
    max-width: 1200px;
    transition: transform 0.3s ease; /* Плавное перемещение слайдов */
  }
  
  .swiper-slide {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    z-index: 10;
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .swiper-pagination-bullet.active {
    background-color: #ffcc00;
  }

/* OUR Client */
.review-section {
    background-color: #000000;
    padding-bottom: 20px;
}

.container-text {
    display: flex;
    text-align: center;
}

.review-section .container-text h2 {
    color: #ffffff;
}

.review-item {
    display: flex;
    box-sizing: border-box;
    background: #000000;
    margin: 10px;
    border-radius: 30px;
    border: 5px solid #ffcc00;
    border-top: 0;
    max-height: 600px;
    /* width: 500px; */
    padding: 5px;
    gap: 10px;
    overflow: hidden;
    justify-content: center;
}

.review-item img {
    width: 100%;
    height: 100%;
    border-radius: 20px; 
    object-fit: cover;
    pointer-events: none;
}

/* Conection */
.connection-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.connection-back {
    background-image: url(../images/divan6.jpg);
    background-position: center;
    width: 1000px;
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.connection-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    background-color: #000000b7;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.connection-container::after {
    content: "";
    position: absolute;
    right: -140px;
    width: 140px;
    height: 100%;
    background-color: inherit;
    clip-path: polygon(100% 0, 0% 100%, 0 0);
    z-index: 1;
}

.connection-container .con_sub {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 26px;
    color: #ffcc00;
    margin-bottom: 0; 
    padding: 0;
    max-height: 60px; 
}

.connection-container button {
    margin-bottom: 20px;
    border: none;
}

/* Social */
.social-links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contacts {
    color: #000000;
}

.social-links a:hover {
    background-color: #ffe167;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
}

/* FORM */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.form-container {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #ffcc00;
    border-top: 0;
    position: relative;
    animation: fadeIn 0.5s;
    margin: 0 auto;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 28px;
}

form {
    display: flex;
    flex-direction: column;
}

.contactForm {
    box-sizing: border-box;
}

.input-field {
    position: relative;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    font-size: 18px;
}

.input-field label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffcc00;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input {
    width: 100%;
    padding-left: 30px;
    background-color: transparent;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

button {
    width: 35%;
    text-align: center;
    background-color: #ffcc00;
    font-size: 18px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button:hover {
    background-color: #ffe167;
}

.success-message {
    display: none;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

/* Notification */
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-color: #000000;
    border: 4px solid #ffcc00;
    border-radius: 50%;
    color: white;
    text-align: center;
    z-index: 15;
    cursor: pointer;
    display: none;
}

.notification-icon {
    font-size: 38px;
}

.notification-content {
    display: none;
    position: absolute;
    bottom: 80px;
    right: 0;
    width: 200px;
    padding: 30px;
    z-index: 15;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border-top: 3px solid #ffcc00;
    color: black;
}

.notification-content p {
    color: #ffcc00;
    font-size: 20px;
    margin: 0 0 10px;
}

.notification-content button {
    width: 80%;
    background-color: #ffcc00;
    color: #000000;
    border: none;
    padding: 5px 10px;
    margin-bottom: 0;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 26px;
    color: #ffffff;
}


/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    header .number a, header .logo  {
        font-size: 20px;
        text-align: center;
    }

    header nav {
        display: none; 
    }

    /* Hero */
    .hero {
        padding: 100px 10px;
        height: 40vh;
    }

    .hero-content {
        padding: 10px;
    }

    .hero h1 {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .hero p {
        font-size: 16px;
        margin: 0;
    }

    .cta-button {
        width: 100%;
        padding: 10px 20px;
        font-size: 18px;
    }

    /*  */
    .estimation {
        bottom: -230px;
        width: 95%;
        padding: 5px;
        gap: 0;
        margin: 0;
    }

    .estimation img {
        width: 40%;
    }

    .estimation-content {
        width: 100%;
    }

    .estimation h2 {
        font-size: 22px;
        line-height: 1.2;
    }

    .estimation p {
        line-height: 1.2;
    }

    .estBttnContainer {
        display: flex;
        gap: 0;
        flex-wrap: wrap; 
    }
    
    .estBttnContainer a {
        line-height: 1;
        margin: 5px;
        padding: 5px;
        font-size: 1em;
    }

    /* Benefits */
    .benefits {
        display: none;
    }

    /*  */
    .company-block {
        flex-direction: column;
        margin-top: 260px;
    }
    
    .images-section {
        margin: 0;
        gap: 5px;
    }
    
    .left-images, .photo3-container {
        width: 100%;
    }
    
    .photo1-container, .photo2-container {
        height: auto;
        aspect-ratio: 16 / 9; 
    }
    
    .photo3-container {
        height: auto;
        aspect-ratio: 1 / 1; 
    }

    .overlay-text {
        font-size: 14px;
    }

    .overlay-text span {
        color: #ffcc00;
        -webkit-text-stroke: 0;
        font-size: 24px;
    }

    .sub {
        font-size: 22px;
    }

    .text-section h2 {
        font-size: 24px;
    }

    .company-features {
        font-size: 18px;
        margin-bottom: 0;
    }

    .text-section button {
        width: 60%;
    }

    /* Services */
    .services, .benefits {
        padding: 1px 10px;
    }

    .service-item, .benefit-item {
        margin: 5px;
    }

    /* Card */
    .cards-container {
        gap: 5px;
        padding: 5px;
    }

    .services h2{
        font-size: 28px;
    }
    
    .card {
        width: calc(50% - 5px);
    }

    .card img {
        height: 200px;
    }

    .card h3 {
        color: yellow;
        font-size: 1em;
        margin: 10px 0;
    }

    .card button {
        padding: 5px;
        margin: 0 0 10px 10px;
        font-size: 1.5em;
        text-align: center;
        width: 70%; 
    }

    /* Memo */
    .memo {
        display: none;
    }

    /* Work-Section */
    .work-section {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .work-section h2 {
        font-size: 28px;
    }

    /* Review-Section */
    .review-section .container-text i {
        display: none;
    }

    .review-section h2 {
        font-size: 28px;
    }

    .review-item {
        height: 450px;
    }

    /*  */
    .connection-section {
        padding: 0;
    }
    .connection-container .con_sub {
        text-wrap: nowrap;
        gap: 5px;
        font-size: 16px;
        max-height: 60px; 
    }

    .connection-container button {
        width: 70%;
    }
}

